# http://dev.mysql.com/doc/refman/8.0/en/server-configuration-defaults.html

[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci

log-error=/var/log/error.log

# 允许连接到MySQL数据库的最大数量
max_connections=500
# 表名大小写不敏感
lower_case_table_names=1

# 检测表对象的最大数量，默认-1，自动缩放
performance_schema_max_table_instances=600
# 表结构定义缓存的大小，默认-1，自动缩放
table_definition_cache=500
# 可以打开的总表数，默认4000
table_open_cache=300

# innodb缓冲池大小，小于1G时，innodb_buffer_pool_instances为1
# innodb_buffer_pool_size = innodb_buffer_pool_chunk_size * innodb_buffer_pool_instances
innodb_buffer_pool_size=1G
# innodb缓冲池块大小
innodb_buffer_pool_chunk_size=128M
# innodb缓冲池实例数
innodb_buffer_pool_instances=8

# 连接操作缓冲区，默认256K
join_buffer_size=512K
# 排序操作缓冲区，默认256K
sort_buffer_size=512K
# 顺序读取缓冲区，默认128K
read_buffer_size=256K
# 随机读取缓冲区，默认128K
read_rnd_buffer_size=256K

log_bin=binlog
log_bin_index=binlog
binlog-format=MIXED
# 过期时间（秒），默认30天； 7*24*60*60=604800
binlog_expire_logs_seconds=604800

[mysql]
default-character-set=utf8mb4

[client]
default-character-set=utf8mb4
