[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci

log_bin=binlog
log_bin_index=binlog
binlog-format=MIXED
# 过期时间（秒），默认30天； 7*24*60*60=604800
binlog_expire_logs_seconds=604800

[mysql]
default-character-set=utf8mb4

[client]
default-character-set=utf8mb4
