# http://dev.mysql.com/doc/refman/8.0/en/server-configuration-defaults.html

[mysqld]
log-error=/var/log/error.log

# 检测表对象的最大数量，默认-1，自动缩放
performance_schema_max_table_instances=600
# 表结构定义缓存的大小，默认-1，自动缩放
table_definition_cache=500
# 可以打开的总表数，默认4000
table_open_cache=300

log_bin=binlog
log_bin_index=binlog
binlog-format=MIXED
# 过期时间（秒），默认30天； 7*24*60*60=604800
binlog_expire_logs_seconds=604800

[client]

